{#
/**
 * @file
 * Corporate+'s theme override for the block entity refernece field for the tabs powered custom block
 *
 * @see elections_preprocess_field__block_content__sle_fancy_linked_images_block()
 */
#}
{{ attach_library('elections/fancy-linked-images-block') }}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'field--sle-fancy-linked-images-block',
    'clearfix',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'inline' ? 'inline',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <h3{{ title_attributes.addClass(title_classes) }}>{{ label }}</h3>
  {% endif %}
  <div class="fancy-linked-images">
    <div class="row">
      {% for item in items %}
        <div class="col-md-4">
          <div class="fancy-linked-image">
            <div class="clip-{{ item.content['#paragraph'].field_sle_fli_shape.value }}-container">
              <div class="overlay-container">
                {% if item.content['#paragraph'].field_sle_fli_link.title %}
                  <span class="overlay overlay--white">
                    <a class="overlay-target-link" href="{{ item.content['#paragraph'].field_sle_fli_link.0.url }}"></a>
                    <span class="overlay-inner">
                      <a class="button button--black overlay-animated overlay-fade-bottom" href="{{ item.content['#paragraph'].field_sle_fli_link.0.url }}">
                        {% if item.content['#paragraph'].field_sle_fli_button_icon.value %}
                          <i class="fa {{ item.content['#paragraph'].field_sle_fli_button_icon.value }}"></i>
                        {% endif %}
                        {{ item.content['#paragraph'].field_sle_fli_link.title }}
                      </a>
                    </span>
                  </span>
                {% endif %}
                <img class="clip-{{ item.content['#paragraph'].field_sle_fli_shape.value }}" src="{{ item.fancy_image_styled_url }}" alt="{{ item.content['#paragraph'].field_sle_fli_image.alt }}" title="{{ item.content['#paragraph'].field_sle_fli_image.title }}">
              </div>
            </div>
            {{ item.content }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
